.main-wrapper[_ngcontent-c1] {
    padding: 0;
    display: flex;
    height: 100%;
}

element.style {
    display: block;
}

div.main-container[_ngcontent-c1] {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

/*---------------*/
.theLeft .td-icon {
    float: left;
    width: 32px;
    height: 32px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFsAAABbCAYAAAAcNvmZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnhJREFUeNrs3U9LFGEcwPGf7ebaYWGhCBLCPQaRbNFd9w2YHrwF5dGTBtG1vIpit45l9AJ8BbmetQi6qCdB2EMprH/AXFzrN/qgo+2Ms+Mz0+P2/cLDoM4M8uHh2XkOy4gQEV2qjjgXPZiqDeqhT0dJR9GM/6GKjpqOBR1z318W1hLBVuCCHl7reK6jwDw9wZ9Q9Io1bIUeN9AgB6MPKXotNraZzTNmNlN4HnRZwb+1jG2g5826TBbAr4VcOAN0yx1NUJ2opcjYZo1m6YgP/j4Stu+pg+JXUsc3UWY2Tx12GjMTNxSb5cPecjIYiG12hsxqez0Lm9l9+FitPwybRz3L6WrRH4RdhCe5wP6H2AQ22AS2u2Wt3m3068XnbNwQmS8eH329KnfJk/udks91OAXUO711hWf2rT2RgdUzv/KQnz7KOQfdHstIriHSvevDvs6aTWCDTWCDDTa1Mfbm6aZm+WfDSZyVHw2HsT/3RDtv6Y7Ifubkx09f6lLdPnQKemf/t0xWfjm8XV+5KVLNi+TrwefUM39t1T3o4Y+7cu92puklA7rp8XaZUWejDaRlvY8H7i720ZToPB4xZtLi+kHTvz2+m7VyHz4g+YAksMEmsMEGm8AGm8AGm8AGG2wCG2wCG2ywCWywCWywCWywwSawwSawwQabwAabwAabwE637FX4J5fWD+RdxHOrW4dgXybv21+ufgOMZQRsAhvstmoN7JSg/W9pAjvZ5lhG0msW7HSqnH85ENjJ9YKnkZSgm73yCmz7fVDotzxnpwM9wqYmnaVjhB1kwk8dOh4GLR3+sljF3oJ7G5bZsJdtXoRdxrG1LTgR/RFgAEIioEX14WSDAAAAAElFTkSuQmCC) center center/32px 32px no-repeat;
    margin-top: 8px;
}

.theLeft .td-title {
    height: 50px;
    line-height: 50px;
    margin-left: 17px;
}

.theLeft .menu-box .td-title {
    color: #fff;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 8px;
}

.theLeft .menu-box .td-title span:first-child {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 14.4px;
    margin: 16px 0 8px;
}

/*--------------------------*/
.theLeft {
    height: 100%;
    background: #1f3159;
    overflow: hidden;
}

/*----------------*/

.ant-menu {
    font-family: "Monospaced Number", Roboto, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    color: rgba(23, 35, 61, .75);
    background: #fff;
    line-height: 0;
    transition: background .3s, width .2s;
    zoom: 1;
}

.ant-menu-inline {
    width: 100%;
}

.theLeft .ant-menu {
    outline: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    color: #fff;
    background: #1f3159 !important;
    line-height: 46px;
    transition: background .3s, width .2s;
}

.theLeft .menu-box {
    height: calc(100% - 30px);
    overflow-x: hidden;
}

.theLeft .ant-menu-inline, .theLeft .ant-menu-vertical {
    border-right: none !important;
}

.theLeft .ant-menu-root.ant-menu-inline, .theLeft .ant-menu-sub.ant-menu-inline, .theLeft .ant-menu-vertical {
    background-color: #1f3159 !important;
}

/*----------*/

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.theLeft .menu-box > li {
    padding: 0 16px;
}

.ant-menu-item, .ant-menu-submenu-title {
    cursor: pointer;
    margin: 0;
    padding: 0 20px;
    position: relative;
    display: block;
    white-space: nowrap;
    transition: color .3s cubic-bezier(.645, .045, .355, 1), border-color .3s cubic-bezier(.645, .045, .355, 1), background .3s cubic-bezier(.645, .045, .355, 1), padding .15s cubic-bezier(.645, .045, .355, 1);
}

.ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item {
    position: relative;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title, .ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-item, .ant-menu-vertical-right .ant-menu-submenu-title {
    padding: 0 16px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-menu-inline > .ant-menu-item, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 40px;
    height: 40px;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: calc(100% + 1px);
}

.theLeft .ant-menu-item, .theLeft .ant-menu-item-active, .theLeft .ant-menu-submenu-active, .theLeft .ant-menu-submenu-title, .theLeft .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: #ccc !important;
}

.theLeft .menu-box > li {
    padding: 0 16px;
}

.ant-menu-inline .ant-menu-item:not(:last-child), .ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child) {
    margin-bottom: 8px;
}

.theLeft .ant-menu-item.ng-star-inserted {
    background-color: #1f3159 !important;
}

.aaa-item {
    padding-left: 24px;
}

.theLeft .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    color: #fff !important;
    background-color: #2d8cf0 !important;
}