<div style="width: 100%;height: calc(100% - 65px);">

    <!--项目工具条-->
    <app-toolbar-panel (savePageEmitter)="savePage()"></app-toolbar-panel>

    <!--项目面板-->
    <div class="bottom-all" style="height: calc(100% - 45px);">
        <table class="main-table" style="width: 100%; height: 100%;">
            <tr style="vertical-align: top;">
                <td style="padding: 0; width: 40px; background-color: #FFFFFF; border-right: rgba(23,35,61,0.15) 1px solid;">
                    <div *ngIf="scs.curProject && scs.isConch" class="left-panel-btn" (click)="chooseLeftPanel('project')" [ngClass]="{'active': scs.leftPanelActive == 'project'}">
                        <i class="anticon anticon-bars"></i>
                    </div>
                    <div *ngIf="scs.curProject && scs.isConch" class="left-panel-btn" (click)="chooseLeftPanel('component');" [ngClass]="{'active': scs.leftPanelActive == 'component'}">
                        <i class="anticon anticon-book"></i>
                    </div>
                    <div *ngIf="scs.curProject && scs.isConch" class="left-panel-btn" (click)="chooseLeftPanel('page_schema')" [ngClass]="{'active': scs.leftPanelActive == 'page_schema'}">
                        <i class="anticon anticon-switcher"></i>
                    </div>
                    <div *ngIf="scs.curProject && scs.isConch" class="left-panel-btn" (click)="chooseLeftPanel('block')" [ngClass]="{'active': scs.leftPanelActive == 'block'}">
                        <i class="anticon anticon-calendar"></i>
                    </div>
                </td>
                <td style="padding: 0; width: 200px; background-color: #F8F8F9;">
                    <app-project-panel [ngClass]="{'c-hide': scs.leftPanelActive != 'project' || !scs.curProject}"></app-project-panel>
                    <app-component-panel [ngClass]="{'c-hide': scs.leftPanelActive != 'component' || !scs.curProject}"></app-component-panel>
                    <div [ngClass]="{'c-hide': scs.leftPanelActive != 'page_schema' || !scs.curProject}" style="height: 600px;">
                        <div style="padding: 0 4px;">
                            <div style="padding: 8px; height: 40px; border-bottom: #cccccc 2px solid;">图层</div>
                        </div>
                        <div class="tree-base" style="padding: 0; height: calc(100% - 40px); overflow: auto; width: 198px;">
                            <nz-tree #treeCom
                                     [nzData]="scs.pageSchema"
                                     [nzDraggable]="true"
                                     (nzOnDrop)="dropInPageSchema($event)"
                                     (nzClick)="chooseSchemaNode($event)"
                                     (nzContextMenu)="rightClickNode($event,contextMenuTemp)"
                            >
                            </nz-tree>
                        </div>
                    </div>
                    <app-block-panel [ngClass]="{'c-hide': scs.leftPanelActive != 'block' || !scs.curProject}"></app-block-panel>

                    <ng-template #contextMenuTemp>
                        <ul nz-menu nzInDropDown (nzClick)="dropDownClick($event)">
                            <li nz-menu-item data-name="remove-item"><i class="anticon anticon-delete"></i>删除</li>
                            <li nz-menu-item data-name="add-block"><i class="anticon anticon-save"></i>另存为</li>
                        </ul>
                    </ng-template>

                </td>
                <td style="padding: 20px; background: rgba(235,237,240,1); border-left: rgba(23,35,61,0.15) 1px solid; border-right: rgba(23,35,61,0.15) 1px solid;">
                    <app-center-panel style="display: block; width: 100%; height: 100%;"></app-center-panel>
                </td>
                <td style="padding: 0; width: 260px; background-color: #F8F8F9">
                    <app-property-panel></app-property-panel>
                </td>
            </tr>
        </table>
    </div>

</div>
