<table class="main-table" style="width: 100%; height: 100%;">
    <tr style="vertical-align: top;">
        <td style="padding: 0; width: 360px; background-color: #F8F8F9;">
            <div style="height: 360px; width: 360px;">
                <div style="padding: 0 4px;">
                    <div style="padding: 8px; height: 40px; border-bottom: #cccccc 2px solid;">路由结构</div>
                </div>
                <div class="tree-base" style="padding: 4px 8px; height: calc(100% - 40px); overflow: auto;">
                    <nz-tree #treeCom
                             [nzData]="scs.routingSchema"
                             (nzClick)="scanSubComp($event)"
                    >
                    </nz-tree>
                </div>
            </div>
        </td>
    </tr>
    <tr style="">
        <td style="padding: 0; width: 360px; background-color: #F8F8F9;">
            <div style="height: 360px; width: 360px; border-top: #cccccc 1px solid;">
                <div class="tree-base" style="padding: 4px 8px; height: calc(100% - 40px); overflow: auto;">
                    <nz-tree #treeCom2
                             [nzData]="scs.compSchema"
                    >
                    </nz-tree>
                </div>
            </div>
        </td>
    </tr>
</table>
